#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}