#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Line_1 {
  stroke-width: 2px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Line_1 {
  stroke-width: 2px;
  stroke: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 95px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 27px;
  width: 189px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: 23px;
  width: 62px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9f5c9f67-eeec-4871-bc7d-aa98db99ab38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}